@model WebApplication2.Models.Attendance

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<br />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseCodeFK.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseCodeFK.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stu.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stu.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimetableIdFK.room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimetableIdFK.room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attendenceRemark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attendenceRemark)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
