@model WebApplication2.Models.StudentFaculty

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>StudentFaculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.facultyIdFK.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facultyIdFK.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentIdFK.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentIdFK.StudentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentFacultyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
